<header class="navbar navbar-expand-lg navbar-dark bg-dark bd-navbar">
<nav class="navbar container-xxl flex-wrap flex-md-nowrap">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">NetPrecision</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/purchase">Criar Pedido</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>